* {
  margin: 0;
  padding: 0;
}
html,
body {
  width: 100%;
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
}
.emergn-template {
  display: grid;
  grid-template-rows: 1fr 2fr;
  grid-template: "header" minmax(300px, 33.333%) "main" "main";
  height: 100vh;
  padding: 1.5vh;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.header {
  grid-area: header;
  display: grid;
  grid-template-columns: 1fr 3fr;
}
.header .avatar {
  overflow: hidden;
}
.header .avatar img {
  display: block;
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.header .about {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  background-color: #eaeaea;
  padding: 1.5em;
}
.header .about .info {
  width: 70%;
}
.header .about .person {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.header .about .person .name {
  font-size: 2.5em;
  font-weight: normal;
}
.header .about .person .click {
  width: 100%;
  margin: 1px;
  padding: 5px;
}
.header .about .person .click:hover {
  margin: 0;
  border: 1px solid #d1d1d1;
}
.header .about .person .content-edit {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
}
.header .about .person .content-edit:nth-of-type(2n) {
  margin: 3px 0;
}
.header .about .person *[contenteditable] {
  margin: 0;
  background: #ffffff;
  border: 1px solid #d1d1d1;
  cursor: text;
}
.header .about .person .edit {
  margin: 0;
  background: #ffffff;
  border: 1px solid #d1d1d1;
}
.header .about .person .buttons {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  right: 15px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}
.header .about .person .hide {
  display: none;
}
.header .about .save,
.header .about .cancel {
  position: relative;
  margin-right: 5px;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 25px;
  width: 25px;
  color: #ffffff;
  background-color: #eaeaea;
  border-radius: 100%;
}
.header .about .save:before,
.header .about .save:after {
  content: '';
  position: absolute;
  background-color: #ffffff;
}
.header .about .save:before {
  left: 7px;
  height: 3px;
  width: 5px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .about .save:after {
  right: 7px;
  height: 3px;
  width: 9px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .about .cancel {
  margin-right: 0;
}
.header .about .cancel:before,
.header .about .cancel:after {
  content: '';
  position: absolute;
  height: 3px;
  width: 11px;
  background-color: #ffffff;
}
.header .about .cancel:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .about .cancel:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .about .tecnology .skill-items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px 0;
}
.header .about .tecnology .skill-items .skill-item {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 5px;
  cursor: default;
}
.header .about .tecnology .skill-items .skill-item:first-child {
  margin-left: 0;
}
.header .about .tecnology .skill-items .skill-item:hover .cancel {
  opacity: 1;
}
.header .about .tecnology .skill-items .skill-item[data-level=senior] span:first-child {
  background: #000000;
}
.header .about .tecnology .skill-items .skill-item[data-level=middle] span:first-child {
  background: #666666;
}
.header .about .tecnology .skill-items .skill-item[data-level=junior] span:first-child {
  background: #999999;
}
.header .about .tecnology .skill-items .skill-item span {
  color: #ffffff;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 3px;
}
.header .about .tecnology .skill-items .skill-item span.cancel {
  opacity: 0;
  position: absolute;
  right: 5px;
  height: 15px;
  width: 15px;
  padding: 0;
  margin: 0;
  background-color: #f87c76;
  border-radius: 100%;
}
.header .about .tecnology .skill-items .skill-item span.cancel:before,
.header .about .tecnology .skill-items .skill-item span.cancel:after {
  content: '';
  position: absolute;
  height: 2px;
  width: 9px;
  background-color: #ffffff;
}
.header .about .tecnology .skill-items .skill-item span.cancel:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header .about .tecnology .skill-items .skill-item span.cancel:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
.header .about .tecnology .add-skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 31px;
  width: 250px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #ffffff;
  border: 1px solid #00ff00;
}
.header .about .tecnology .add-skill input.add {
  height: 29px;
  border: none;
  padding: 0 5px;
  outline: none;
}
.header .about .tecnology .add-skill .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .about .tecnology .add-skill .save {
  margin-left: 5px;
}
.header .about .print {
  position: absolute;
  top: 2.5vh;
  right: 2.5vh;
  color: white;
  font-size: 0.875em;
  text-transform: uppercase;
  padding: 5px 15px;
  background: #000000;
  border-radius: 20px;
  cursor: pointer;
}
.main {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 1px;
  background-color: #eaeaea;
  border: 1px solid #eaeaea;
  border-top: none;
}
.item {
  display: grid;
  grid-template-rows: auto 1fr;
  background-color: #ffffff;
}
.item-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 15px 0;
  background: rgba(255, 255, 255, 0.9);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.item-header .full {
  font-size: 2.5em;
  font-weight: bold;
  margin: 10px 0;
}
.item-content {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10px 25px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.item-content .lists {
  padding-left: 10px;
}
.item-content .article {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  z-index: 100;
}
.item-content .article .author {
  font-size: 0.750em;
  font-weight: bold;
  text-align: right;
  margin-top: 10px;
}
.item .center {
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.item-name {
  margin: 0;
  font-size: 1.3em;
}
.quotes {
  position: relative;
}
.quotes::before {
  content: '“';
  top: 30px;
  left: 10px;
}
.quotes::after {
  content: '„';
  bottom: 70px;
  right: 10px;
}
.quotes::before,
.quotes::after {
  position: absolute;
  color: #eaeaea;
  font-size: 8em;
  line-height: 0;
  z-index: 0;
}
.code {
  background-image: url('/img/code.png');
  background-size: cover;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.border-b {
  border-bottom: 1px solid #eaeaea;
}
.buttons-template,
.skill-item-template {
  display: none;
}
